RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]




ReWriteRule ^$ home.php [NC,L]
ErrorDocument 404 https://poojamahajan.com/404


#Dashboard
ReWriteRule ^dashboard/login([/]?)$ dashboard/login.php [NC,L]
ReWriteRule ^dashboard([/]?)$ dashboard/list_of_cities.php [NC,L]
ReWriteRule ^dashboard/add-location([/]?)$ dashboard/add_location.php [NC,L]
ReWriteRule ^dashboard/edit-location/([0-9\-]+)([/]?)$ dashboard/edit_location.php?id=$1 [NC,L]
ReWriteRule ^dashboard/profiles([/]?)$ dashboard/list_of_profiles.php [NC,L]
ReWriteRule ^dashboard/add-profiles([/]?)$ dashboard/add_profile.php [NC,L]
ReWriteRule ^dashboard/edit-profile/([0-9\-]+)([/]?)$ dashboard/edit_profile.php?id=$1 [NC,L]


#Main Page  

ReWriteRule ^contact-us([/]?)$ contact-us.php [NC,L]
ReWriteRule ^call-girls([/]?)$ call-girls.php [NC,L]
ReWriteRule ^faqs([/]?)$ faq.php [NC,L]
ReWriteRule ^terms-and-conditions([/]?)$ terms-and-condition.php [NC,L]
ReWriteRule ^privacy-policy([/]?)$ privacy.php [NC,L]
ReWriteRule ^login([/]?)$ login.php [NC,L]
ReWriteRule ^sign-up([/]?)$ login.php [NC,L]
ReWriteRule ^about-us([/]?)$ about-us.php [NC,L]
ReWriteRule ^search([/]?)$ search.php [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)([/]?)$ location.php?state=$1 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ area.php?state=$1&city=$2 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ profile_index.php?state=$1&city=$2&id=$3 [NC,L]

ReWriteRule ^404([/]?)$ 404-page.php [NC,L]
#ReWriteRule ^([0-9A-Za-z\-]+)([/]?)([/]?)$ home.php?page_id=$1 [NC,L]
