RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#DELHI
RewriteRule ^call-girl-in-delhi/?$ /call-girls/delhi/ [R=301,L]
#PAGES
RewriteRule ^call-girl-in-delhi/pooja-in-connaught-place/?$ /call-girls/delhi/connaught-place/call-girl-2/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/dwarka/?$ /call-girls/delhi/dwarka/call-girl-3/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/saket/?$ /call-girls/delhi/saket/call-girl-4/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/karol-bagh/?$ /call-girls/delhi/karol-bagh/call-girl-5/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/greater-kailash/?$ /call-girls/delhi/greater-kailash/call-girl-6/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/chandni-chowk?$ /call-girls/delhi/chandni-chowk/call-girl-7/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/paharganj?$ /call-girls/delhi/paharganj/call-girl-8/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/lakshmi-nagar?$ /call-girls/delhi/lakshmi-nagar/call-girl-9/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/pitam-pura?$ /call-girls/delhi/pitam-pura/call-girl-10/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/hauz-khas?$ /call-girls/delhi/hauz-khas/call-girl-11/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/rajendraa-nagar?$ /call-girls/delhi/rajendraa-nagar/call-girl-12/ [R=301,L] 
RewriteRule ^call-girl-in-delhi/vasant-kunj?$ /call-girls/delhi/vasant-kunj/call-girl-13/ [R=301,L] 

#AGRA
RewriteRule ^agra-escorts/?$ /call-girls/agra/ [R=301,L]
#PAGES
RewriteRule ^agra-escorts/aarna-in-taj-nagri/?$ /call-girls/agra/taj-nagri/call-girl-14/ [R=301,L]
RewriteRule ^agra-escorts/alina-in-kamla-nagar/?$ /call-girls/agra/kamla-nagar/call-girl-15/ [R=301,L]
RewriteRule ^agra-escorts/anupa-in-sikandra/?$ /call-girls/agra/sikandra/call-girl-16/ [R=301,L]
RewriteRule ^agra-escorts/nidhi-in-khandari/?$ /call-girls/agra/khandari/call-girl-17/ [R=301,L]
RewriteRule ^agra-escorts/elena-in-sikhandra/?$ /call-girls/agra/sikandra/call-girl-18/ [R=301,L]
RewriteRule ^agra-escorts/lisa-in-taj-ganj/?$ /call-girls/agra/taj-ganj/call-girl-19/ [R=301,L]
RewriteRule ^agra-escorts/esha-in-fatehabad-road/?$ /call-girls/agra/fatehabad/call-girl-20/ [R=301,L]
RewriteRule ^agra-escorts/tupur-in-khandari/?$ /call-girls/agra/khandari/call-girl-21/ [R=301,L]
RewriteRule ^agra-escorts/yana-in-shastripuram/?$ /call-girls/agra/shastri-puram/call-girl-22/ [R=301,L]
RewriteRule ^agra-escorts/zoya-in-vikash-colony/?$ /call-girls/agra/awas-vikash-colony/call-girl-23/ [R=301,L]

#JAIPUR
RewriteRule ^jaipur-escorts/?$ /call-girls/jaipur/ [R=301,L]
#PAGES
RewriteRule ^jaipur-escorts/anvi-in-civil-lines/?$ /call-girls/jaipur/civil-lines/call-girl-24/ [R=301,L]
RewriteRule ^jaipur-escorts/avni-in-bani-park/?$ /call-girls/jaipur/bani-park/call-girl-25/ [R=301,L]
RewriteRule ^jaipur-escorts/bipasa-in-vidyadhar-nagar/?$ /call-girls/jaipur/vidyadhar/call-girl-26/ [R=301,L]
RewriteRule ^jaipur-escorts/chameli-in-sindhi-camp/?$ /call-girls/jaipur/sindhi-camp/call-girl-27/ [R=301,L]
RewriteRule ^jaipur-escorts/diya-in-pratap-nagar/?$ /call-girls/jaipur/pratap-nagar/call-girl-28/ [R=301,L]
RewriteRule ^jaipur-escorts/chaya-in-mansarovar/?$ /call-girls/jaipur/mansarovar/call-girl-29/ [R=301,L]
RewriteRule ^jaipur-escorts/eity-in-malviya-nagar/?$ /call-girls/jaipur/malviya-nagar/call-girl-30/ [R=301,L]
RewriteRule ^jaipur-escorts/gauri-in-sanganer/?$ /call-girls/jaipur/sanganer/call-girl-31/ [R=301,L]
RewriteRule ^jaipur-escorts/hena-in-vaishali-nagar/?$ /call-girls/jaipur/vaishali-nagar/call-girl-32/ [R=301,L]
RewriteRule ^jaipur-escorts/mumita-in-jagatpura/?$ /call-girls/jaipur/jagat-pura/call-girl-33/ [R=301,L]
RewriteRule ^jaipur-escorts/nibrita-in-raja-park/?$ /call-girls/jaipur/raja-park/call-girl-34/ [R=301,L]
RewriteRule ^jaipur-escorts/popi-in-sodala/?$ /call-girls/jaipur/sodala/call-girl-35/ [R=301,L]

#LUCKNOW
RewriteRule ^lucknow-escorts/?$ /call-girls/lucknow/ [R=301,L]
#PAGES
RewriteRule ^lucknow-escorts/alena-hazratganj/?$ /call-girls/lucknow/hazratganj/call-girl-175/ [R=301,L]
RewriteRule ^lucknow-escorts/bhumi-indira-nagar/?$ /call-girls/lucknow/indira-nagar/call-girl-176/ [R=301,L]
RewriteRule ^lucknow-escorts/jasmit-kakori/?$ /call-girls/lucknow/kakori/call-girl-177/ [R=301,L]
RewriteRule ^lucknow-escorts/jaya-mahanagar/?$ /call-girls/lucknow/mahanagar/call-girl-178/ [R=301,L]
RewriteRule ^lucknow-escorts/kusum-nairala-nagar/?$ /call-girls/lucknow/nairala-nagar/call-girl-179/ [R=301,L]
RewriteRule ^lucknow-escorts/maria-golf-city/?$ /call-girls/lucknow/golf-city/call-girl-180/ [R=301,L]
RewriteRule ^lucknow-escorts/meenaz-telibagh/?$ /call-girls/lucknow/telibagh/call-girl-181/ [R=301,L]
RewriteRule ^lucknow-escorts/reenu-sisandi/?$ /call-girls/lucknow/sisandi/call-girl-182/ [R=301,L]
RewriteRule ^lucknow-escorts/roshni-gomti-nagar/?$ /call-girls/lucknow/gomti-nagar/call-girl-183/ [R=301,L]
RewriteRule ^lucknow-escorts/shashi-adil-nagar/?$ /call-girls/lucknow/adil-nagar/call-girl-184/ [R=301,L]
RewriteRule ^lucknow-escorts/sonali-aminabad/?$ /call-girls/lucknow/aminabad/call-girl-185/ [R=301,L]


#GUWAHATI
RewriteRule ^guwahati-escorts/?$ /call-girls/guwahati/ [R=301,L]
#PAGES
RewriteRule ^guwahati-escorts/ankita-in-guwahati/?$ /call-girls/guwahati/paltan-bazar/call-girl-36/ [R=301,L]
RewriteRule ^guwahati-escorts/geeta-in-paltan-bazar/?$ /call-girls/guwahati/paltan-bazar/call-girl-37/ [R=301,L]
RewriteRule ^guwahati-escorts/julia-in-gs-road/?$ /call-girls/guwahati/gs-road/call-girl-38/ [R=301,L]
RewriteRule ^guwahati-escorts/kanta-in-pan-bazar/?$ /call-girls/guwahati/pan-bazar/call-girl-39/ [R=301,L]
RewriteRule ^guwahati-escorts/mariam-in-fancy-bazar/?$ /call-girls/guwahati/fancy-bazar/call-girl-40/ [R=301,L]
RewriteRule ^guwahati-escorts/pooja-in-ganeshguri/?$ /call-girls/guwahati/ganeshguri/call-girl-41/ [R=301,L]
RewriteRule ^guwahati-escorts/pragya-in-khanapara/?$ /call-girls/guwahati/khanapara/call-girl-42/ [R=301,L]
#diff
RewriteRule ^guwahati-escorts/reena-in-chandmari/?$ /call-girls/guwahati/bhetapara/call-girl-43/ [R=301,L]
#diff
RewriteRule ^guwahati-escorts/cristian-in-sonapur/?$ /call-girls/guwahati/sonapur/call-girl-44/ [R=301,L]
RewriteRule ^guwahati-escorts/aarna-in-bhetapara/?$ /call-girls/guwahati/bhetapara/call-girl-45/ [R=301,L]
RewriteRule ^guwahati-escorts/elena-in-vip-road/?$ /call-girls/guwahati/vip-road/call-girl-46/ [R=301,L]


#RISHIKESH
RewriteRule ^rishikesh-escorts/?$ /call-girls/rishikesh/ [R=301,L]

#GOA
RewriteRule ^goa-escorts/?$ /call-girls/goa/ [R=301,L]
#PAGES
RewriteRule ^goa-escorts/amita-beach/?$ /call-girls/goa/beach/call-girl-47/ [R=301,L]
RewriteRule ^goa-escorts/navya-benaulim/?$ /call-girls/goa/benaulim/call-girl-48/ [R=301,L]
RewriteRule ^goa-escorts/disha-mapusa/?$ /call-girls/goa/mapusa/call-girl-49/ [R=301,L]
RewriteRule ^goa-escorts/isha-varca-beach/?$ /call-girls/goa/varca-beach/call-girl-50/ [R=301,L]
RewriteRule ^goa-escorts/mary-miramar/?$ /call-girls/goa/miramar/call-girl-51/ [R=301,L]
RewriteRule ^goa-escorts/nisha-dudhsagar/?$ /call-girls/goa/dudhsagar/call-girl-52/ [R=301,L]
RewriteRule ^goa-escorts/sana/?$ /call-girls/goa/canacona/call-girl-53/ [R=301,L]
RewriteRule ^goa-escorts/sanji/?$ /call-girls/goa/colva/call-girl-54/ [R=301,L]
RewriteRule ^goa-escorts/sara/?$ /call-girls/goa/baga-beach/call-girl-55/ [R=301,L]
RewriteRule ^goa-escorts/sarah/?$ /call-girls/goa/dona-paula/call-girl-56/ [R=301,L]
RewriteRule ^goa-escorts/tania/?$ /call-girls/goa/baga-beach/call-girl-57/ [R=301,L]
RewriteRule ^goa-escorts/zara/?$ /call-girls/goa/tiswadi/call-girl-58/ [R=301,L]

#GHAZIABAD
RewriteRule ^ghaziabad-escorts/?$ /call-girls/ghaziabad/ [R=301,L]
#PAGES
RewriteRule ^ghaziabad-escorts/mira-chander-nagar/?$ /call-girls/ghaziabad/chander-nagar/call-girl-59/ [R=301,L]
RewriteRule ^ghaziabad-escorts/nisha-indirapuram/?$ /call-girls/ghaziabad/indirapuram/call-girl-60/ [R=301,L]
RewriteRule ^ghaziabad-escorts/preeti-lal-kuan/?$ /call-girls/ghaziabad/lal-kuan/call-girl-61/ [R=301,L]
RewriteRule ^ghaziabad-escorts/ridhima-vaishali/?$ /call-girls/ghaziabad/vaishali/call-girl-62/ [R=301,L]
RewriteRule ^ghaziabad-escorts/sania-raj-nagar-extension/?$ /call-girls/ghaziabad/raj-nagar/call-girl-63/ [R=301,L]
RewriteRule ^ghaziabad-escorts/tanvi-vasundhara/?$ /call-girls/ghaziabad/vasundhara/call-girl-64/ [R=301,L]
RewriteRule ^ghaziabad-escorts/yamini-crossing-republik/?$ /call-girls/ghaziabad/crossing-republik/call-girl-65/ [R=301,L]


#KOTA
RewriteRule ^kota-escorts/?$ /call-girls/kota/ [R=301,L]
#PAGES
RewriteRule ^kota-escorts/lima-in-borkhera/?$ /call-girls/kota/borkhera/call-girl-66/ [R=301,L]
RewriteRule ^kota-escorts/mahi-in-shrinath-puram/?$ /call-girls/kota/shrinath-puram/call-girl-67/ [R=301,L]
RewriteRule ^kota-escorts/monisha-in-dadabari/?$ /call-girls/kota/dadabari/call-girl-68/ [R=301,L]
RewriteRule ^kota-escorts/neha-in-kunhari/?$ /call-girls/kota/kunhari/call-girl-69/ [R=301,L]
RewriteRule ^kota-escorts/nisa-in-raipura/?$ /call-girls/kota/raipura/call-girl-70/ [R=301,L]
RewriteRule ^kota-escorts/purbi-in-nayapura/?$ /call-girls/kota/nayapura/call-girl-71/ [R=301,L]
RewriteRule ^kota-escorts/risi-in-chandresal/?$ /call-girls/kota/chandresal/call-girl-72/ [R=301,L]
RewriteRule ^kota-escorts/sanji-in-kota/?$ /call-girls/kota/chandresal/call-girl-73/ [R=301,L]
RewriteRule ^kota-escorts/siju-in-indra-vihar/?$ /call-girls/kota/indra-vihar/call-girl-74/ [R=301,L]
RewriteRule ^kota-escorts/sinha-indraprastha-industrial-area/?$ /call-girls/kota/industrial-area/call-girl-75/ [R=301,L]


#AHMEDABAD
RewriteRule ^ahmedabad-escorts/?$ /call-girls/ahmedabad/ [R=301,L]
#PAGES
RewriteRule ^ahmedabad-escorts/ankita-in-jagatpur/?$ /call-girls/ahmedabad/jagatpur/call-girl-76/ [R=301,L]
RewriteRule ^ahmedabad-escorts/pooja-in-satellite-city/?$ /call-girls/ahmedabad/satellite-city/call-girl-77/ [R=301,L]
RewriteRule ^ahmedabad-escorts/russian-escort-services-in-ambli/?$ /call-girls/ahmedabad/ambli/call-girl-78/ [R=301,L]
RewriteRule ^ahmedabad-escorts/pragya-from-thaltej/?$ /call-girls/ahmedabad/thaltej/call-girl-79/ [R=301,L]
RewriteRule ^ahmedabad-escorts/reena-in-sg-highway/?$ /call-girls/ahmedabad/sg-highway/call-girl-80/ [R=301,L]
RewriteRule ^ahmedabad-escorts/julia-in-vastrapur/?$ /call-girls/ahmedabad/vastrapur/call-girl-81/ [R=301,L]
RewriteRule ^ahmedabad-escorts/kanta-in-cg-road/?$ /call-girls/ahmedabad/cg-road/call-girl-82/ [R=301,L]
RewriteRule ^ahmedabad-escorts/geeta-in-kankaria/?$ /call-girls/ahmedabad/kankaria/call-girl-83/ [R=301,L]
RewriteRule ^ahmedabad-escorts/isita-in-gandhi-nagar/?$ /call-girls/ahmedabad/gandhi-nagar/call-girl-84/ [R=301,L]
RewriteRule ^ahmedabad-escorts/cristian-in-maninagar/?$ /call-girls/ahmedabad/maninagar/call-girl-85/ [R=301,L]


#ARUNACHAL PRADESH
RewriteRule ^arunachal-pradesh-escorts/?$ /call-girls/arunachal-pradesh/ [R=301,L]
#BHOPAL
RewriteRule ^bhopal-escorts/?$ /call-girls/bhopal/ [R=301,L]

#GURUGRAM
RewriteRule ^call-girl-in-gurugram/?$ /call-girls/gurugram/ [R=301,L]
#PAGES
RewriteRule ^call-girl-in-gurugram/guru-dronacharya/?$ /call-girls/gurugram/guru-dronacharya/call-girl-86/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/modern-sikanderpur/?$ /call-girls/gurugram/modern-sikanderpur/call-girl-87/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/mg-road/?$ /call-girls/gurugram/mg-road/call-girl-88/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/huda-city-center/?$ /call-girls/gurugram/huda-city-center/call-girl-89/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/iffco-chowk/?$ /call-girls/gurugram/iffco-chowk/call-girl-90/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/dlf-phase-3/?$ /call-girls/gurugram/dlf-phase-3/call-girl-91/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/micromax-moulsari/?$ /call-girls/gurugram/micromax-moulsari/call-girl-92/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/sector42-43/?$ /call-girls/gurugram/sector-42-43/call-girl-93/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/bahadurgarh/?$ /call-girls/gurugram/bahadurgarh/call-girl-94/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/sushantlok/?$ /call-girls/gurugram/sushant-lok/call-girl-95/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/vodafone-belvedere/?$ /call-girls/gurugram/vodafone-belvedere/call-girl-96/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/sikanderpur/?$ /call-girls/gurugram/modern-sikanderpur/call-girl-97/ [R=301,L]


#MUMBAI
RewriteRule ^faridabad-escorts/?$ /call-girls/faridabad/ [R=301,L]
#PAGES
RewriteRule ^faridabad-escorts/anika-sainik-colony/?$ /call-girls/faridabad/sainik-colony/call-girl-98/ [R=301,L]
RewriteRule ^faridabad-escorts/kakoli-sgm-nagar/?$ /call-girls/faridabad/suraj-kund/call-girl-99/ [R=301,L]
RewriteRule ^faridabad-escorts/luna-suraj-kund/?$ /call-girls/faridabad/sgm-nagar/call-girl-100/ [R=301,L]
RewriteRule ^faridabad-escorts/mariya-bata-chowk/?$ /call-girls/faridabad/bata-chowk/call-girl-101/ [R=301,L]
RewriteRule ^faridabad-escorts/mim-bptp/?$ /call-girls/faridabad/bptp/call-girl-102/ [R=301,L]
RewriteRule ^faridabad-escorts/parul-charmwood/?$ /call-girls/faridabad/charmwood/call-girl-103/ [R=301,L]
RewriteRule ^faridabad-escorts/rajia-mewala-maharajpur/?$ /call-girls/faridabad/mewala-maharajpur/call-girl-104/ [R=301,L]
RewriteRule ^faridabad-escorts/rea-mujesar/?$ /call-girls/faridabad/mujesar/call-girl-105/ [R=301,L]
RewriteRule ^faridabad-escorts/riya-agwanpur/?$ /call-girls/faridabad/agwanpur/call-girl-106/ [R=301,L]
RewriteRule ^faridabad-escorts/rose-ajronda-chowk/?$ /call-girls/faridabad/ajronda-chowk/call-girl-107/ [R=301,L]
RewriteRule ^faridabad-escorts/ruhi-ajit-nagar/?$ /call-girls/faridabad/ajit-nagar/call-girl-108/ [R=301,L]
RewriteRule ^faridabad-escorts/saachi-agwanpur/?$ /call-girls/faridabad/agwanpur/call-girl-109/ [R=301,L]


#MUMBAI
RewriteRule ^mumbai-escorts/?$ /call-girls/mumbai/ [R=301,L]
#PAGES
RewriteRule ^mumbai-escorts/ava-in-andheri/?$ /call-girls/mumbai/andheri/call-girl-110/ [R=301,L]
RewriteRule ^mumbai-escorts/avana-in-dadar-space/?$ /call-girls/mumbai/dadar-space/call-girl-111/ [R=301,L]
RewriteRule ^mumbai-escorts/jui-in-goregaon/?$ /call-girls/mumbai/goregaon/call-girl-112/ [R=301,L]
RewriteRule ^mumbai-escorts/nadiya-in-boravili/?$ /call-girls/mumbai/boravili/call-girl-113/ [R=301,L]
RewriteRule ^mumbai-escorts/rimi-in-matunga/?$ /call-girls/mumbai/matunga/call-girl-114/ [R=301,L]
RewriteRule ^mumbai-escorts/saba-in-star-city-kalyan/?$ /call-girls/mumbai/star-city-kalyan/call-girl-115/ [R=301,L]
RewriteRule ^mumbai-escorts/saila-in-bandra/?$ /call-girls/mumbai/bandra/call-girl-116/ [R=301,L]
RewriteRule ^mumbai-escorts/siha-in-chembur/?$ /call-girls/mumbai/chembur/call-girl-117/ [R=301,L]
RewriteRule ^mumbai-escorts/sruti-in-vashi/?$ /call-girls/mumbai/vashi/call-girl-118/ [R=301,L]
RewriteRule ^mumbai-escorts/suba-in-ghatkopar/?$ /call-girls/mumbai/ghatkopar/call-girl-119/ [R=301,L]


#AJMER
RewriteRule ^ajmer-escorts/?$ /call-girls/ajmer/ [R=301,L]
#PAGES
RewriteRule ^post-ad/keep-your-desire-to-be-intimate-with-the-busty-lady-and-retain-a-pleasant-experience/?$ /call-girls/ajmer/vaishali-nagar/call-girl-120/ [R=301,L]
RewriteRule ^post-ad/raise-your-friendship-tag-with-the-college-escort-girl-to-experience-a-fantastic-vibe/?$ /call-girls/ajmer/panchsheel-nagar/call-girl-191/ [R=301,L]
RewriteRule ^post-ad/be-romantic-with-an-air-hostess-girl-to-feel-something-different-in-your-life/?$ /call-girls/ajmer/kotra/call-girl-192/ [R=301,L]
RewriteRule ^post-ad/come-in-the-confluence-of-girlfriend-escort-experience-to-add-a-tweak/?$ /call-girls/ajmer/vaishali-nagar/call-girl-193/ [R=301,L]
RewriteRule ^post-ad/purse-your-fetish-mentality-with-the-aid-of-the-cheap-escort-female/?$ /call-girls/ajmer/kotra/call-girl-194/ [R=301,L]


#VARANASI
RewriteRule ^varanasi-escorts/?$ /call-girls/varanasi/ [R=301,L]
#PAGES
RewriteRule ^varanasi-escorts/rehana-in-chetganj/?$ /call-girls/varanasi/chetganj/call-girl-121/ [R=301,L]
RewriteRule ^varanasi-escorts/saxena-in-lahartara/?$ /call-girls/varanasi/lahartara/call-girl-122/ [R=301,L]
RewriteRule ^varanasi-escorts/alisha-in-varanasi-city/?$ /call-girls/varanasi/lanka/call-girl-123/ [R=301,L]
RewriteRule ^varanasi-escorts/seema-in-varanasi/?$ /call-girls/varanasi/lahartara/call-girl-204/ [R=301,L]
RewriteRule ^varanasi-escorts/maya-in-mahmoorganj/?$ /call-girls/varanasi/mahmoorganj/call-girl-124/ [R=301,L]
RewriteRule ^varanasi-escorts/ritika-in-singhpur/?$ /call-girls/varanasi/singhpur/call-girl-125/ [R=301,L]
RewriteRule ^varanasi-escorts/soniya-in-sigra/?$ /call-girls/varanasi/sigra/call-girl-126/ [R=301,L]
RewriteRule ^varanasi-escorts/kajal-in-paharia/?$ /call-girls/varanasi/paharia/call-girl-127/ [R=301,L]
RewriteRule ^varanasi-escorts/kristilina-in-pandeypur/?$ /call-girls/varanasi/pandeypur/call-girl-128/ [R=301,L]
RewriteRule ^varanasi-escorts/deeksah-in-phulpur/?$ /call-girls/varanasi/phulpur/call-girl-129/ [R=301,L]


#DEHRADUN
RewriteRule ^dehradun-escorts/?$ /call-girls/dehradun/ [R=301,L]

#UDAIPUR
RewriteRule ^udaipur-escorts/?$ /call-girls/udaipur/ [R=301,L]
#PAGES
RewriteRule ^udaipur-escorts/adiba-in-surajpole/?$ /call-girls/udaipur/surajpole/call-girl-130/ [R=301,L]
RewriteRule ^udaipur-escorts/dipika-in-ambamata/?$ /call-girls/udaipur/ambamata/call-girl-131/ [R=301,L]
RewriteRule ^udaipur-escorts/iva-ambrai-ghat/?$ /call-girls/udaipur/ambrai-ghat/call-girl-132/ [R=301,L]
RewriteRule ^udaipur-escorts/nusrat-in-hiran-magri/?$ /call-girls/udaipur/hiran-magri/call-girl-133/ [R=301,L]
RewriteRule ^udaipur-escorts/payel-in-lal-ghat-road/?$ /call-girls/udaipur/lal-ghat-road/call-girl-134/ [R=301,L]
RewriteRule ^udaipur-escorts/pinki-in-udaipole/?$ /call-girls/udaipur/udaipole/call-girl-135/ [R=301,L]
RewriteRule ^udaipur-escorts/priya-in-naga-nagri/?$ /call-girls/udaipur/naga-nagri/call-girl-136/ [R=301,L]
RewriteRule ^udaipur-escorts/sahnaz-in-shobhagpura/?$ /call-girls/udaipur/shobhagpura/call-girl-137/ [R=301,L]
RewriteRule ^udaipur-escorts/shorna-in-lake-badi/?$ /call-girls/udaipur/lake-badi/call-girl-138/ [R=301,L]
RewriteRule ^udaipur-escorts/urmila-in-balicha/?$ /call-girls/udaipur/balicha/call-girl-139/ [R=301,L]


#INDORE
RewriteRule ^indore-escorts/?$ /call-girls/indore/ [R=301,L]
#PAGES
RewriteRule ^indore-escorts/arohi-in-nipania/?$ /call-girls/indore/nipania/call-girl-140/ [R=301,L]
RewriteRule ^indore-escorts/israt-in-bengali-square/?$ /call-girls/indore/bengali-square/call-girl-141/ [R=301,L]
RewriteRule ^indore-escorts/ivana-in-vijay-nagar/?$ /call-girls/indore/vijay-nagar/call-girl-142/ [R=301,L]
RewriteRule ^indore-escorts/lamiya-in-sukhlia/?$ /call-girls/indore/sukhlia/call-girl-143/ [R=301,L]
RewriteRule ^indore-escorts/lisa-in-sudama-nagar/?$ /call-girls/indore/sudama-nagar/call-girl-144/ [R=301,L]
RewriteRule ^indore-escorts/liza-in-tukoganj/?$ /call-girls/indore/tukoganj/call-girl-145/ [R=301,L]
RewriteRule ^indore-escorts/mimi-rajendra-nagar/?$ /call-girls/indore/rajendra-nagar/call-girl-146/ [R=301,L]
RewriteRule ^indore-escorts/nisi-in-ab-road/?$ /call-girls/indore/ab-road/call-girl-147/ [R=301,L]
RewriteRule ^indore-escorts/raida-in-palasia/?$ /call-girls/indore/palasia/call-girl-148/ [R=301,L]
RewriteRule ^indore-escorts/rumina-in-kalani-nagar/?$ /call-girls/indore/kalani-nagar/call-girl-149/ [R=301,L]


#NOIDA
RewriteRule ^noida-escorts/?$ /call-girls/noida/ [R=301,L]
#PAGES
RewriteRule ^noida-escorts/aditi-sector-61/?$ /call-girls/noida/sector-61/call-girl-150/ [R=301,L]
RewriteRule ^noida-escorts/akhi-central-metro/?$ /call-girls/noida/central-metro/call-girl-151/ [R=301,L]
RewriteRule ^noida-escorts/arya-botanical-garden/?$ /call-girls/noida/botanical-garden-metro/call-girl-152/ [R=301,L]
RewriteRule ^noida-escorts/avni-sector-52/?$ /call-girls/noida/noida-sector-52/call-girl-153/ [R=301,L]
RewriteRule ^noida-escorts/dipa-sector-145/?$ /call-girls/noida/noida-sector-145/call-girl-154/ [R=301,L]
RewriteRule ^noida-escorts/diya-sector-34/?$ /call-girls/noida/noida-sector-34/call-girl-155/ [R=301,L]
RewriteRule ^noida-escorts/ivana-greater-noida/?$ /call-girls/noida/greater-noida/call-girl-156/ [R=301,L]
RewriteRule ^noida-escorts/lakhsmi-sector-59/?$ /call-girls/noida/sector-59/call-girl-157/ [R=301,L]
RewriteRule ^noida-escorts/olivia-electronic-city/?$ /call-girls/noida/noida-electronic-city/call-girl-158/ [R=301,L]
RewriteRule ^noida-escorts/saanvi-sector-147/?$ /call-girls/noida/noida-sector-147/call-girl-159/ [R=301,L]
RewriteRule ^noida-escorts/sanjana-greater-noida/?$ /call-girls/noida/greater-noida/call-girl-160/ [R=301,L]
RewriteRule ^noida-escorts/sara-sector-62/?$ /call-girls/noida/sector-62/call-girl-161/ [R=301,L]


#PATNA
RewriteRule ^patna-escorts/?$ /call-girls/patna/ [R=301,L]
#PAGES
RewriteRule ^patna-escorts/priya-in-kankarbagh/?$ /call-girls/patna/kankarbagh/call-girl-162/ [R=301,L]
RewriteRule ^patna-escorts/geeta-in-shastri-nagar/?$ /call-girls/patna/shastri-nagar/call-girl-163/ [R=301,L]
RewriteRule ^patna-escorts/chaitra-in-lodipur/?$ /call-girls/patna/lodipur/call-girl-164/ [R=301,L]
RewriteRule ^patna-escorts/alina-in-kidwaipuri/?$ /call-girls/patna/kidwaipuri/call-girl-165/ [R=301,L]
RewriteRule ^patna-escorts/sharmita-in-danapur/?$ /call-girls/patna/danapur/call-girl-166/ [R=301,L]
RewriteRule ^patna-escorts/sarika-in-adampur/?$ /call-girls/patna/adampur/call-girl-167/ [R=301,L]
RewriteRule ^patna-escorts/ritika-in-pkauli/?$ /call-girls/patna/pkauli/call-girl-168/ [R=301,L]
RewriteRule ^patna-escorts/mona-in-anishabad/?$ /call-girls/patna/anishabad/call-girl-169/ [R=301,L]


#VISAKHAPATNAM
RewriteRule ^visakhapatnam-escorts/?$ /call-girls/visakhapatnam/ [R=301,L]
#PAGES
RewriteRule ^visakhapatnam-escorts/aarna-in-dabagarden/?$ /call-girls/visakhapatnam/dabagarden/call-girl-170/ [R=301,L]
RewriteRule ^visakhapatnam-escorts/alina-in-akkayyapalem/?$ /call-girls/visakhapatnam/akkayyapalem/call-girl-171/ [R=301,L]
RewriteRule ^visakhapatnam-escorts/anupa-in-siripuram/?$ /call-girls/visakhapatnam/siripuram/call-girl-172/ [R=301,L]
RewriteRule ^visakhapatnam-escorts/elena-maddilapalem/?$ /call-girls/visakhapatnam/maddilapalem/call-girl-173/ [R=301,L]
RewriteRule ^visakhapatnam-escorts/lisa-gajiwaka/?$ /call-girls/visakhapatnam/gajiwaka/call-girl-174/ [R=301,L]


#MANALI
RewriteRule ^manali-escorts/?$ /call-girls/manali/ [R=301,L]
#PAGES
RewriteRule ^post-ad/young-model-in-manali-for-real-meet/?$ /call-girls/manali/aleo/call-girl-186/ [R=301,L]
RewriteRule ^post-ad/manali-independent-call-girls-for-unlimited-fun/?$ /call-girls/manali/aleo/call-girl-187/ [R=301,L]
RewriteRule ^post-ad/manali-24-7-escort-service-for-booking/?$ /call-girls/manali/old-manali/call-girl-188/ [R=301,L]
RewriteRule ^post-ad/genuine-russian-call-girls-in-manali/?$ /call-girls/manali/old-manali/call-girl-189/ [R=301,L]
RewriteRule ^post-ad/100-genuine-call-girl-in-manali/?$ /call-girls/manali/old-manali/call-girl-190/ [R=301,L]



ReWriteRule ^$ home.php [NC,L]
ErrorDocument 404 https://poojamahajan.com/404


#Dashboard
ReWriteRule ^dashboard/login([/]?)$ dashboard/login.php [NC,L]
ReWriteRule ^dashboard([/]?)$ dashboard/list_of_cities.php [NC,L]
ReWriteRule ^dashboard/add-location([/]?)$ dashboard/add_location.php [NC,L]
ReWriteRule ^dashboard/edit-location/([0-9\-]+)([/]?)$ dashboard/edit_location.php?id=$1 [NC,L]
ReWriteRule ^dashboard/profiles([/]?)$ dashboard/list_of_profiles.php [NC,L]
ReWriteRule ^dashboard/add-profiles([/]?)$ dashboard/add_profile.php [NC,L]
ReWriteRule ^dashboard/edit-profile/([0-9\-]+)([/]?)$ dashboard/edit_profile.php?id=$1 [NC,L]


#Main Page  

ReWriteRule ^contact-us([/]?)$ contact-us.php [NC,L]
ReWriteRule ^call-girls([/]?)$ call-girls.php [NC,L]
ReWriteRule ^faqs([/]?)$ faq.php [NC,L]
ReWriteRule ^terms-and-conditions([/]?)$ terms-and-condition.php [NC,L]
ReWriteRule ^disclaimer([/]?)$ privacy.php [NC,L]
ReWriteRule ^login([/]?)$ login.php [NC,L]
ReWriteRule ^register([/]?)$ login.php [NC,L]
ReWriteRule ^about-us([/]?)$ about-us.php [NC,L]
ReWriteRule ^search([/]?)$ search.php [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)([/]?)$ location.php?state=$1 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ area.php?state=$1&city=$2 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ profile_index.php?state=$1&city=$2&id=$3 [NC,L]

ReWriteRule ^404([/]?)$ 404-page.php [NC,L]
#ReWriteRule ^([0-9A-Za-z\-]+)([/]?)([/]?)$ home.php?page_id=$1 [NC,L]


