RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
Options -Indexes
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#DELHI
RewriteRule ^call-girl-in-delhi/?$ /call-girls/delhi/ [R=301,L]
#PAGES
RewriteRule ^call-girl-in-delhi/pooja-in-connaught-place/?$ /call-girls/delhi/connaught-place/call-girl-2/ [R=301,L]

#AGRA
RewriteRule ^agra-escorts/?$ /call-girls/agra/ [R=301,L]
RewriteRule ^jaipur-escorts/?$ /call-girls/jaipur/ [R=301,L]
RewriteRule ^lucknow-escorts/?$ /call-girls/lucknow/ [R=301,L]
RewriteRule ^guwahati-escorts/?$ /call-girls/guwahati/ [R=301,L]
RewriteRule ^rishikesh-escorts/?$ /call-girls/rishikesh/ [R=301,L]
RewriteRule ^goa-escorts/?$ /call-girls/goa/ [R=301,L]
RewriteRule ^ghaziabad-escorts/?$ /call-girls/ghaziabad/ [R=301,L]
RewriteRule ^kota-escorts/?$ /call-girls/kota/ [R=301,L]
RewriteRule ^ahmedabad-escorts/?$ /call-girls/ahmedabad/ [R=301,L]
RewriteRule ^arunachal-pradesh-escorts/?$ /call-girls/arunachal-pradesh/ [R=301,L]
RewriteRule ^bhopal-escorts/?$ /call-girls/bhopal/ [R=301,L]
RewriteRule ^call-girl-in-gurugram/?$ /call-girls/gurugram/ [R=301,L]
RewriteRule ^mumbai-escorts/?$ /call-girls/mumbai/ [R=301,L]
RewriteRule ^ajmer-escorts/?$ /call-girls/ajmer/ [R=301,L]
RewriteRule ^varanasi-escorts/?$ /call-girls/varanasi/ [R=301,L]
RewriteRule ^dehradun-escorts/?$ /call-girls/dehradun/ [R=301,L]
RewriteRule ^udaipur-escorts/?$ /call-girls/udaipur/ [R=301,L]
RewriteRule ^indore-escorts/?$ /call-girls/indore/ [R=301,L]
RewriteRule ^noida-escorts/?$ /call-girls/noida/ [R=301,L]
RewriteRule ^patna-escorts/?$ /call-girls/patna/ [R=301,L]
RewriteRule ^visakhapatnam-escorts/?$ /call-girls/visakhapatnam/ [R=301,L]
RewriteRule ^manali-escorts/?$ /call-girls/manali/ [R=301,L]



ReWriteRule ^$ home.php [NC,L]
ErrorDocument 404 https://poojamahajan.com/404


#Dashboard
ReWriteRule ^dashboard/login([/]?)$ dashboard/login.php [NC,L]
ReWriteRule ^dashboard([/]?)$ dashboard/list_of_cities.php [NC,L]
ReWriteRule ^dashboard/add-location([/]?)$ dashboard/add_location.php [NC,L]
ReWriteRule ^dashboard/edit-location/([0-9\-]+)([/]?)$ dashboard/edit_location.php?id=$1 [NC,L]
ReWriteRule ^dashboard/profiles([/]?)$ dashboard/list_of_profiles.php [NC,L]
ReWriteRule ^dashboard/add-profiles([/]?)$ dashboard/add_profile.php [NC,L]
ReWriteRule ^dashboard/edit-profile/([0-9\-]+)([/]?)$ dashboard/edit_profile.php?id=$1 [NC,L]


#Main Page  

ReWriteRule ^contact-us([/]?)$ contact-us.php [NC,L]
ReWriteRule ^call-girls([/]?)$ call-girls.php [NC,L]
ReWriteRule ^faqs([/]?)$ faq.php [NC,L]
ReWriteRule ^terms-and-conditions([/]?)$ terms-and-condition.php [NC,L]
ReWriteRule ^disclaimer([/]?)$ privacy.php [NC,L]
ReWriteRule ^login([/]?)$ login.php [NC,L]
ReWriteRule ^sign-up([/]?)$ login.php [NC,L]
ReWriteRule ^about-us([/]?)$ about-us.php [NC,L]
ReWriteRule ^search([/]?)$ search.php [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)([/]?)$ location.php?state=$1 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ area.php?state=$1&city=$2 [NC,L]
ReWriteRule ^call-girls/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)/([0-9A-Za-z\-]+)([/]?)$ profile_index.php?state=$1&city=$2&id=$3 [NC,L]

ReWriteRule ^404([/]?)$ 404-page.php [NC,L]
#ReWriteRule ^([0-9A-Za-z\-]+)([/]?)([/]?)$ home.php?page_id=$1 [NC,L]


