*{box-sizing: border-box;}
body{padding: 0;
margin: 0;
width: 100%;
height: 100%;
}
footer{
    width: 100%;
    height: auto;
    padding: 5% 7.5% 1% 7.5%;
    background-color: blueviolet;
    color: white;
}
.new-footer-row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    /* gap: 7.5%; */
    margin-bottom: 3%;
    align-items: start;
    border-bottom: 1px solid white;
}
footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer strong{
    font-size: 1.5rem;
}
footer .new-footer-col ul li{
    width: 100%;
    margin: 10% 0;
    font-size: 1.1rem;
}
footer ul li a{
    color: white;
    text-decoration: none;
    }
.new-footer-logo{
    width: 300px;
}
.new-footer-logo img{
    margin: 0;
    padding: 0;
}
.new-footer-row-2 p{
    font-size: 1.1rem;
} 
.new-footer-row2{border-top: 1px solid white;}
.new-footer-row2, .new-footer-row2 ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* gap: 10%; */
}
.new-footer-row2 p{width: 100%;}
.new-footer-row2 ul{
    justify-content: end;
    gap: 2.5%;
}
.new-footer-row2 ul li i{
    font-size: xx-large;
    cursor: pointer;
}
@media screen and (max-width: 850px){
    .new-footer-row{
        flex-wrap: wrap;
        text-align: center;
    }.new-footer-row2{
        flex-wrap: wrap;
        text-align: center;
    }

}
@media screen and (max-width: 350px){
    .new-footer-row2{
        flex-wrap: wrap;
        text-align: center;
    }
    .new-footer-row2 ul{
        justify-content: space-evenly;
    }

}