.list-of-profile{
    border-top: 3px solid #9f21e3;
    padding:.5% 1%;
}
.list-of-profile h2{
   font-size: 2rem;
}
.list-of-profile h3{
   font-size: 1.6rem;
}
.list-of-profile h4{
    font-size: 1.3rem;
 }
:where(.list-of-profile,.profile-section-box-detail) p{
    font-weight: normal;
    font-size: 1.1rem;
}
.profile-section-box-detail{padding: 1%;width: 85%;}
.profile-section-box-detail h3{
    padding: 0;
    margin: 0;
}
.profile-section-box{display: flex;margin: 1% 0;border: 1px solid lightgray;}
.profile-section-box-image{
    width: 15%;
    height:180px;
    background-color: lightgray;
    border: 1px solid lightgray;
}
.profile-section-button-detail button{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    font-size: large;
    color: white;
}
.profile-section-button-detail button:first-child{
    background-color: green;
}
.profile-section-button-detail button:hover:first-child{
    background-color: rgb(1, 75, 1);
}
.profile-section-button-detail button:last-child{
    background-color: rgb(128, 0, 113);
}
.profile-section-button-detail button:hover:last-child{
    background-color: rgb(184, 0, 162);
}

.top-cities-of-india button{
    width: auto;
    margin:1% 2%;
    padding: 1% 2%;
    height: 40px;
    border: 0;
    border-radius: 3px;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}
.top-cities-of-india button:hover {text-decoration: underline;}

/* FOOTER START */
footer{
    width: 100%;
    /* padding: 2%; */
    background-color: #9f21e3;
    color: white;
    /* background-color: rgb(193, 192, 192); */
}
.follow-up{margin: 3% 0;}
.follow-up i{font-size: xx-large;}
.only-18{
    width: 300px;
}
.footer-row{
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}
.footer-col:first-child{width: 35%;}
.footer-col h3{
    font-size: 1.8rem;
}
.footer-col-ul{
    list-style: none;
    padding: 0;
}
.footer-p{
    font-size: 1.3rem;
}
.footer-col-ul li a{
    color: white;
    font-weight: bold;

}
/* FOOTER ENDS */